body {
  font-family: "EB Garamond" !important;
  font-size: 1.2em !important;
}

p {
  font-size:1.2em !important;
}
  /* mouse over link */
  .purchasePageLink:hover {
    cursor: pointer;
  }

  .hidden {
      display: None;
  }

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  box-shadow: 0 10px 50px 0 rgba(0,0,0,.2);
  border-radius: 3px;
  text-align: center;
  padding: 5px 0;
  margin-top:-15px;
  opacity: 0;
  transition: 300ms;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 5;
  width: 900px;
  height: 280px;
  top: 100%;
  left: 50%;
  margin-left: -330px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  margin-top:-5px;
}

.test:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.7s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
  
  input { 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    border: 1px solid #848484; 
    outline:0; 
    height:25px; 
    max-width: 275px;
 }

/* About Page */
.aboutCard {
  font-size:1.25rem; 
  text-align:justify; 
  box-shadow:5px 5px 25px 0 rgba(46,61,73,.2);
  border-top:1.5px solid red; 
  padding: 10px; 
  border-top-right-radius:12px; 
  border-top-left-radius:12px;
  font-size:1.25rem; 
  text-align:justify
}

textarea { 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    border: 1px solid #848484; 
    outline:0;
    /* height:25px;  */
    /* width: 275px;  */
 }

 .hr-styleOne {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

   @media only screen and (min-width:600px) {
    .contactHelpCard {
      width:45% !important;
      margin-left:40px !important;
    }

    .contactContactCard {
      width:45% !important;
    }
  } 

  @media only screen and (min-width:1024px) {
    .mobileView {
      display:none !important;
      visibility:hidden;
    }

    
  } 
@media only screen and (max-width:1024px) {

  .desktopView {
    display:none !important;
    visibility:hidden;
  }

}


  