  /* mouse over link */
  .purchasePageLink:hover {
    cursor: pointer;
  }

  .hidden {
      display: None;
  }
  
  input { 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    border: 1px solid #848484; 
    outline:0; 
    height:25px; 
    max-width: 275px;
 }


textarea { 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    border: 1px solid #848484; 
    outline:0;
    /* height:25px;  */
    /* width: 275px;  */
 }

 .hr-styleOne {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

   @media only screen and (min-width:769px) {
    .contactHelpCard {
      width:45% !important;
      margin-left:40px !important;
    }

    .contactContactCard {
      width:45% !important;
    }
  } 

  