body {
  font-family: "EB Garamond" !important;
  font-size: 1.2em !important;
}

p {
  font-size:1.2em !important;
}
  /* mouse over link */
  .purchasePageLink:hover {
    cursor: pointer;
  }

  .hidden {
      display: None;
  }

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  box-shadow: 0 10px 50px 0 rgba(0,0,0,.2);
  border-radius: 3px;
  text-align: center;
  padding: 5px 0;
  margin-top:-15px;
  opacity: 0;
  transition: 300ms;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 5;
  width: 750px;
  height: 280px;
  top: 100%;
  left: 50%;
  margin-left: -330px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  margin-top:-5px;
}

.dropDownMenuItems {
  width:95%;
  height:35px;
  display:flex;
  align-items:center;
  justify-content: center;
  color:black;
}

.dropDownMenuItems:hover {
  color:#5457ff;
  background-color:#f1f6fe;
}

.navbarDesktopLinkHeader {
  text-align:left;
  font-weight:bold;
  font-size:19px;
  color:black;
}
.navbarDesktopLink:hover > .navbarDesktopLinkHeader {
  color:rgb(255, 68, 0) !important;
}

.navbarDesktopLink {
  display:flex;
  flex-direction:column;
  margin-left:20px;
}

.navbarDesktopEffect {
  width:35px !important;
  height:70px;
  color:rgb(255, 68, 0);
}

.navbarDesktopLinkContainer {
  width:100%;
  height:125px;
  display:flex;
  flex-direction:row;
  padding:15px;
}
.navbarDesktopLinkContainer:hover > .navbarDesktopEffect {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: tada 1s;

    /* When the animation is finished, start again */
    animation-iteration-count: 1;
}
/* .test:hover {
  animation: shake 0.7s;

  
  animation-iteration-count: infinite;
} */

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  animation-name: tada;
}

  input { 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    border: 1px solid #848484; 
    outline:0; 
    height:25px; 
    max-width: 275px;
 }

/* About Page */
.aboutCard {
  font-size:1.25rem; 
  box-shadow:5px 5px 25px 0 rgba(46,61,73,.2);
  border-top:1.5px solid red; 
  padding: 10px; 
  border-top-right-radius:12px; 
  border-top-left-radius:12px;
  font-size:1.25rem; 
  text-align:left;
}

textarea { 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    border: 1px solid #848484; 
    outline:0;
    /* height:25px;  */
    /* width: 275px;  */
 }

 .hr-styleOne {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

   @media only screen and (min-width:600px) {
    .contactHelpCard {
      width:45% !important;
      margin-left:40px !important;
    }

    .contactContactCard {
      width:45% !important;
    }
  } 

  @media only screen and (min-width:1024px) {
    .mobileView {
      display:none !important;
      visibility:hidden;
    }

    
  } 
@media only screen and (max-width:1024px) {

  .desktopView {
    display:none !important;
    visibility:hidden;
  }

}


  